.user-container {
    background-image: url(../img/users-background.png);
    height: 100%;
    background-size: cover;
    position: relative;
}

.user-container .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.user-container .user-wrap {
    height: 100vh;
    max-width: 1390px;
    margin: auto;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'userImg positionName'
        'userImg userSkills'
        'userImg backOrNextBtn';
    align-items: center;
    column-gap: 118px;
}

#user-img-bg {
    grid-area: userImg;
}

.position-name {
    grid-area: positionName;
    padding-top: 94px;
}

#user-skills {
    grid-area: userSkills;
}

.back-or-next-user {
    grid-area: backOrNextBtn;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back-or-next-user svg{
    flex-shrink:0;
}
.user-wrap .left-img-block {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #17181C;
}

.user-container .notes {
    display: flex;
    gap: 18px;
    padding: 59px 65px;
    background-color: var(--dark-gray);
    position: absolute;
    max-width: 414px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    bottom: 145px;
    left: 50px;
}

.notes h3,
.notes .notes-text {
    color: var(--white);
    font-family: 'GothamPro';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
}

.notes h3 {
    font-size: 56px;
    line-height: 56px;
    /* 100% */
}

.user-wrap .right-discription-block {
    max-width: 604px;
    padding-top: calc(94px + 94px);
}

.leave-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #17181C;
    padding: 9px 13px 7px 8px;
    border: unset;
    margin-left: auto;
    position: absolute;
    top: 50px;
    right: 145px;
    cursor: pointer;
    z-index: 5;
    text-decoration: unset;
}

.leave-btn .leave {
    font-family: 'GothamProBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--ligth-blue);
}

.position-name .wich-position {
    font-family: 'GothamProBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: var(--white);
}

.position-name .name {
    font-family: 'GothamProBold';
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px;
    color: var(--white);
}

#user-skills ul {
    list-style: none;
}

.user-skills {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 18px;
    order: 2;
}

.user-skills:last-child {
    margin-bottom: 110px;
}

.user-skills::before {
    content: "\2713";
    width: 20px;
    height: 20px;
    border: 1px solid var(--ligth-blue);
    border-radius: 20px;
    color: var(--ligth-blue);
    text-align: center;
    flex-shrink: 0;
}

.user-skills .skills-text {
    font-family: 'GothamPro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
}

.back-or-next-user .back,
.back-or-next-user .next {
    display: flex;
    align-items: center;
    gap: 18px;
    background: none;
    border: unset;
    cursor: pointer;
}

.back-or-next-user .back h3,
.back-or-next-user .next h3 {
    font-family: 'GothamPro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: var(--ligth-blue);
}

.section-6,
footer {
    display: none;

}

@media(max-width:1080px) {
    .user-container .user-wrap {
        grid-template-areas:
            'userImg positionName'
            'userSkills userSkills'
            'backOrNextBtn backOrNextBtn';
        gap: 43px;
        padding-inline: 24px;
        align-items: flex-start;
    }

    #user-img-bg {
        max-height: 489px;
    }

    .position-name {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 60px;
    }

    .position-name .name {
        font-size: 35px;
    }

    .user-container {
        background-position: center;
        min-height: 1180px;
    }

    .user-container .header {
        position: unset;
        margin-bottom: 37px;
        padding-inline: 24px;
    }
    .user-skills:last-child {
        margin-bottom:unset;
    }
    .user-container .notes {
        right: 20%;
        bottom: 50%;
        left:unset;
    }

    .leave-btn {
        right: unset;
        left: 53%;
        top:unset;
    }
    .section-6,
footer {
    display: block;

}
}
@media(max-width:768px){
    .user-container .notes {
        right: 40px;
        bottom: 50%;
        left:unset;
    }
    .message-container .right-contacts-block {
        display: unset;
      }
}
@media(max-width:500px){
    .user-container .user-wrap {
        grid-template-areas:
            'positionName positionName'
            'userImg userImg'
            'userSkills userSkills'
            'backOrNextBtn backOrNextBtn';
        gap: 26px;
        padding-inline: 16px;
        /* align-items: flex-start; */
    }
    .user-container .notes{
        padding: 20px 37px 20px 20px;
    max-width: 274px;
    gap: 8px;
    /* top: 0; */
    bottom: 25%;
    right: 10px;
    }
     .notes .notes-text {
        font-size:18px;
    }
    #user-img-bg{
        margin-bottom:78px;
    }
    .back{
        text-align: left;
    }
    .next{
        text-align: right;
    }
    .leave-btn{
        left:15px;
    }
}
@media(max-width:340px){
    .user-container .notes{
        bottom:18%;
    }
}