
.user-container {
    background-image: url(../img/users-background.png);
    height: 100%;
    background-size: cover;
    position:relative;
}

.user-container .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1090;
}

.user-container .user-wrap {
    height: 100vh;
    max-width: 1390px;
    margin: auto;
    margin-right: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'userImg userImg positionName positionName'
        'userImg userImg userSkills userSkills'
        'userImg userImg backOrNextBtn backOrNextBtn';
    align-items: center;
    column-gap: 118px;
}
#user-img-bg{
    grid-area:userImg;
    grid-column: span 3;
}
.position-name{
    grid-area: positionName;
    margin-bottom: 54px;
}
#user-skills{
    grid-area: userSkills;
}
.back-or-next-user{
    grid-area: backOrNextBtn;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-wrap .left-img-block {
    position: relative;
    height:100vh;
    max-width:684px;
    flex-grow:1;
    background-image:url(../img/dmintry-eblanov-full.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#17181C;
}
.user-container .notes {
    display: flex;
    gap: 18px;
    padding: 59px 65px;
    background-color: var(--dark-gray);
    position: absolute;
    max-width: 414px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    bottom: 145px;
    left: 50px;
}
.notes h3 , .notes .notes-text {
    color: var(--white);
    font-family: 'GothamPro';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 36px;
}
.notes h3{
    font-size: 56px;
    line-height: 56px; /* 100% */
    }
.user-wrap .right-discription-block {
    max-width: 604px;
    padding-top: calc(94px + 94px);
}
.leave-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #17181C;
    padding: 9px 13px 7px 8px;
    border: unset;
    margin-left: auto;
    position: fixed;
    top: 50px;
    right: 145px;
    cursor: pointer;
}
.leave-btn .leave{
    font-family: 'GothamProBold';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:var(--ligth-blue);

}

.position-name .wich-position {
    font-family: 'GothamProBold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    color: var(--white);
}

.position-name .name {
    font-family: 'GothamProBold';
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px;
    color: var(--white);
}

.right-discription-block ul {
    list-style: none;
}

.right-discription-block .user-skills {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 18px;
    order:2;
}

.right-discription-block .user-skills:last-child {
    margin-bottom: 110px;
}

.user-skills::before {
    content:"\2713";
    width:20px;
    height:20px;
    border:1px solid var(--ligth-blue);
    border-radius:20px;
    color:var(--ligth-blue);
    text-align: center;
    flex-shrink: 0;
}

.user-skills .skills-text {
    font-family: 'GothamPro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
}

.back-or-next-user .back,
.back-or-next-user .next {
    display: flex;
    align-items: center;
    gap: 18px
}

.back-or-next-user .back h3,
.back-or-next-user .next h3 {
    font-family: 'GothamPro';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: var(--ligth-blue);
}

.section-6 , footer{
    display:none;

}
@media(max-width:1280px){
    .user-container .user-wrap {
        grid-template-areas:
        'userImg positionName'
        'userSkills userSkills'
        'backOrNextBtn backOrNextBtn';
        grid-gap:18px;
    }
}